/%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"}
/%script{:type => "text/javascript", :src => "change_form.js"}

.main_body
  .user_form
    #login
      = form_tag get_user_path, method: "post" do
        = label_tag :email, "Email"
        %br
        = email_field_tag :email, '', :id => "email", :name => "user[email]"
        %br
        = label_tag :password, "Password"
        %br
        = password_field_tag :password, '', :id => "password", :name => "user[password]"
        %br
        = submit_tag "Submit", :class => "submit", :id => "enter_details"