/%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"}
/%script{:type => "text/javascript", :src => "change_form.js"}

.main_body
  .user_form
    #login
      = form_tag get_user_path, method: "post" do
        = label_tag :email, t("home.email")
        %br
        = email_field_tag :email, '', :id => "email", :name => "user[email]"
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        %p{:id => "email_error", :class => "error_message"}
        = label_tag :password, t(".password")
=======
=======
>>>>>>> parent of badd54f... created jquery validation for sign in field
=======
>>>>>>> parent of badd54f... created jquery validation for sign in field
        %br
        = label_tag :password, "Password"
>>>>>>> parent of badd54f... created jquery validation for sign in field
        %br
        = password_field_tag :password, '', :id => "password", :name => "user[password]"
        %br
        = submit_tag "Submit", :class => "submit", :id => "enter_details"