%h1 Listing posts
%br
#new_post
  %a{:href => new_post_path}
    %button{:class => "submit", :id => "new_button", :title => "Create a new post here"} New

%br

- @posts.each do |post|
  #post_block
    %p= post.user_id
    - if !post.content.nil?
      %p= post.content
    - if !post.image.nil?
      %image{src:"uploads/#{post.image}", :class => "post_image"}
    %p= post.dateposted
    %p= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
